service: sorcererxstreme-backend

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-southeast-1
  environment:
    DATABASE_URL: ${env:DATABASE_URL}
    JWT_SECRET: ${env:JWT_SECRET}
    FRONTEND_URL: ${env:FRONTEND_URL}
    PRISMA_CLI_BINARY_TARGETS: rhel-openssl-3.0.x

build:
  esbuild:
    bundle: true
    minify: true
    sourcemap: false
    # QUAN TRỌNG: Bỏ dòng external đi!
    # Chúng ta sẽ để esbuild nén luôn cả @prisma/client vào file JS chính.
    # Chỉ loại trừ file binary (vì file này không nén được).
    external:
      - 'aws-sdk' # Lambda có sẵn rồi
      - '@prisma/client/runtime/library' # Phần này Prisma load động

package:
  individually: true
  excludeDevDependencies: true
  patterns:
    # 1. XÓA SẠCH TẤT CẢ (Làm sạch môi trường)
    - '!./**'
    - '!node_modules/**'
    
    # 2. CHỈ LẤY LẠI NHỮNG THỨ CẦN THIẾT
    
    # Lấy file binary của Linux (Bắt buộc)
    - 'node_modules/.prisma/client/libquery_engine-rhel-openssl-3.0.x.so.node'
    - 'node_modules/.prisma/client/schema.prisma'
    
    # Lấy code Prisma Client (cần thiết nếu không dùng external)
    # Nếu esbuild bundle tốt thì không cần dòng này, nhưng an toàn thì cứ để
    # - 'node_modules/@prisma/client/**' 

plugins:
  - serverless-offline

functions:
  api:
    handler: src/handler.handler
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY