service: sorcererxstreme-backend

provider:
  name: aws
  timeout: 29
  runtime: nodejs20.x
  region: ap-southeast-1
  environment:
    DATABASE_URL: ${ssm:/sorcererxstreme/dev/database_url, true}
    JWT_SECRET: ${ssm:/sorcererxstreme/dev/jwt_secret, true}
    AI_SERVICE_URL: ${env:META_SERVICE_URL}
    CHAT_SERVICE_URL: ${env:CHAT_SERVICE_URL}
    FRONTEND_URL: ${ssm:/sorcererxstreme/dev/frontend_url, true}
    PRISMA_CLI_BINARY_TARGETS: rhel-openssl-3.0.x
  apiGateway:
    # Throttling
    usagePlan:
      quota:
        limit: 5000000
        period: MONTH
      throttle:
        burstLimit: 200
        rateLimit: 100

build:
  esbuild:
    bundle: true
    minify: true
    sourcemap: false
    external:
      - "aws-sdk"
      - "@prisma/client/runtime/library"

package:
  individually: true
  excludeDevDependencies: true
  patterns:
    - "!./**"
    - "!node_modules/**"
    - "node_modules/.prisma/client/libquery_engine-rhel-openssl-3.0.x.so.node"
    - "node_modules/.prisma/client/schema.prisma"

    # Lấy code Prisma Client (cần thiết nếu không dùng external)
    # Nếu esbuild bundle tốt thì không cần dòng này, nhưng an toàn thì cứ để
    # - 'node_modules/@prisma/client/**'

plugins:
  - serverless-offline

functions:
  api:
    handler: src/handler.handler
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY
