org: sorcererxstreme
service: sorcererxstreme-backend

provider:
  name: aws
  timeout: 29
  runtime: nodejs20.x
  region: ap-southeast-1
  stage: ${opt:stage, 'dev'}
  environment:
    DATABASE_URL: ${ssm:/sorcererxstreme/${self:provider.stage}/database_url, true}
    JWT_SECRET: ${ssm:/sorcererxstreme/${self:provider.stage}/jwt_secret, true}
    META_SERVICE_URL: ${env:META_SERVICE_URL}
    CHAT_SERVICE_URL: ${env:CHAT_SERVICE_URL}
    EMAIL_HOST: ${env:EMAIL_HOST}
    EMAIL_PORT: ${env:EMAIL_PORT}
    EMAIL_USER: ${env:EMAIL_USER}
    EMAIL_PASS: ${env:EMAIL_PASS}
    FRONTEND_URL: ${ssm:/sorcererxstreme/${self:provider.stage}/frontend_url, true}
    PRISMA_CLI_BINARY_TARGETS: rhel-openssl-3.0.x
    USER_POOL_ID: { Ref: SorcererUserPool }
    USER_POOL_CLIENT_ID: { Ref: SorcererUserPoolClient }
  apiGateway:
    # Throttling
    usagePlan:
      quota:
        limit: 5000000
        period: MONTH
      throttle:
        burstLimit: 200
        rateLimit: 100
  iam:
    role:
      statements:
        - Effect: 'Allow'   
          Action:
            - 'ses:SendEmail'
            - 'ses:SendRawEmail'
          Resource: '*'  

build:
  esbuild:
    bundle: true
    minify: true
    sourcemap: false
    external:
      - "aws-sdk"
      - "@prisma/client/runtime/library"

package:
  individually: true
  excludeDevDependencies: true
  patterns:
    - "!./**"
    - "!node_modules/**"
    - "node_modules/.prisma/client/libquery_engine-rhel-openssl-3.0.x.so.node"
    - "node_modules/.prisma/client/schema.prisma"

    # Lấy code Prisma Client (cần thiết nếu không dùng external)
    # Nếu esbuild bundle tốt thì không cần dòng này, nhưng an toàn thì cứ để
    # - 'node_modules/@prisma/client/**'

plugins:
  - serverless-offline

functions:
  api:
    handler: src/handler.handler
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY        

  dailyEmailJob:
    handler: 'src/jobs/cron.runDailyJob'    
    timeout: 60     
    events: [
      {
        schedule: {
          rate: ['cron(0 1 * * ? *)'], 
          enabled: false, 
        },
      },
    ]

  syncUser:
    handler: src/handlers/auth-trigger.postConfirmation
    events:
      - cognitoUserPool:
          pool: ${self:service}-${self:provider.stage}-user-pool # Trùng tên với Resource bên dưới
          trigger: PostConfirmation
          existing: true # Bắt buộc true vì pool được tạo ở resources

resources:
  Resources:
    # 1. Tạo Cognito User Pool
    SorcererUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:service}-${self:provider.stage}-user-pool
        UsernameAttributes:
          - email
        AutoVerifiedAttributes:
          - email
        Policies:
          PasswordPolicy:
            MinimumLength: 8
            RequireLowercase: true
            RequireNumbers: true
            RequireSymbols: true
            RequireUppercase: true
        Schema:
          - Name: email
            Required: true
            Mutable: true
          - Name: name
            Required: false
            Mutable: true

    # 2. Tạo User Pool Client (Cho Frontend)
    SorcererUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ${self:service}-${self:provider.stage}-client
        UserPoolId:
          Ref: SorcererUserPool
        GenerateSecret: false 
        ExplicitAuthFlows:
          - ALLOW_USER_SRP_AUTH
          - ALLOW_REFRESH_TOKEN_AUTH
          - ALLOW_USER_PASSWORD_AUTH

  Outputs:
    UserPoolId:
      Value:
        Ref: SorcererUserPool
    UserPoolClientId:
      Value:
        Ref: SorcererUserPoolClient
  


