name: Deploy Backend to AWS Lambda

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Install Dependencies
      run: npm ci

    - name: Generate Prisma Client
      run: npx prisma generate

    - name: Install Serverless Framework
      run: npm install -g serverless

    # --- Đăng nhập AWS ở cấp hệ thống ---
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-1 
    # --- BƯỚC DEPLOY ---
    - name: Serverless Deploy
      run: serverless deploy
      env:
        # Vẫn cần Key của Serverless V4
        SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
        META_SERVICE_URL: ${{ secrets.META_SERVICE_URL }}
        CHAT_SERVICE_URL: ${{ secrets.CHAT_SERVICE_URL }}
        EMAIL_HOST: ${{ secrets.EMAIL_HOST }}
        EMAIL_PORT: ${{ secrets.EMAIL_PORT }}
        EMAIL_USER: ${{ secrets.EMAIL_USER }}
        EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
